

.menu {
    background-color: peru;
    align-self: flex-end;
    & &__item: {
        color: blue; 
        text-decoration: none;
    }
    & &-active: {
        color: red;
    } 

    &:hover #b8860b;
  } 

 
 
